@page
@model IndexModel
@{
    ViewData["Title"] = "SimWeb";
}

<!-- Struktura strony -->
<div class="page-container">
    <!-- Treść strony -->
    <div class="container mt-3">
        <div class="tab-content text-center" id="myTabContent">
            <!-- Informacje -->
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                <h5 class="card-title mb-4">
                    <strong>Aplikacja demonstracyjna Sim Web</strong>
                </h5>
                <p class="card-text">
                    Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.
                </p>
                <p class="card-text">
                    Mapa typu torus.
                </p>
                <p class="card-text">
                    Sekwencja ruchów: <strong>dlrludluddlrulr.</strong>
                </p>
                <!-- Dodanie obrazka -->
                <img src="/images/orc-big.png" alt="Orc Image" class="orc-image">
            </div>
        </div>
    </div>
</div>
